<!DOCTYPE html>
<html>
<head>
    <title>Text to Speech Converter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Text to Speech Converter</h1>
    <form action="/" method="post">
        <textarea id="text" name="text" rows="4" cols="50" placeholder="Enter text here...">{{ text }}</textarea><br>
        <div class="button-row">
            <input type="submit" value="Convert">
            {% if audio_available and text %}
            <div class="option-buttons">
                <div class="listen-button">
                    <audio id="audio-player" controls controlsList="nodownload">
                        <source src="{{ url_for('audio') }}" type="audio/mpeg">
                    </audio>
                </div>
                <div class="remove-button">
                    <input type="submit" name="remove_text" value="Remove Text">
                </div>
                <div class="download-button">
                    <a href="{{ url_for('audio') }}" download>Download</a>
                </div>
            </div>
            {% endif %}
        </div>
    </form>
    
    {% if audio_available %}
    {% if result_message %}
    <p>{{ result_message }}</p>
    {% endif %}
    {% endif %}
</body>
</html>
